{
  "Type": "frequency",
  "Name": "Possible brute-force attack", 
  "LogName": "Security",
  "EventId": 4625,
  "Threshold": 3,
  "Minutes": 1440,
  "Field": "TargetUserName",
  "Value": "administrator",
  "Action": "email",
  "Email": "AnyAddress@AnyDomain.com"
}
